# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#program language
* .cpp linguist-language=cpp
*.h linguist-language=c/cpp
*.hpp linguist-language=cpp
*.c linguist-language=c

*.css linguist-language=html
*.js linguist-language=html
*.less linguist-language=html
*.html linguist-language=html

*.py linguist-language=python
*.php linguist-language=php
